<div class="row">
  <div class="col-md-6">
	<%= simple_form_for(@contact) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :name %>
	    <%= f.input :email %>
	    <%= f.input :key %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, class: "btn btn-primary" %>
	  </div>
	<% end %>
  </div>
</div>
